{% extends "base.html" %}

{% block title %}Вхід{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow">

            <div class="card-header bg-success text-white">
                <h3 class="mb-0">Вхід</h3>
            </div>

            <div class="card-body">

                <form method="POST">

                    <div class="mb-3">
                        <label class="form-label">Email</label>

                        <input
                            type="email"
                            class="form-control"
                            name="email"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Пароль</label>

                        <input
                            type="password"
                            class="form-control"
                            name="password"
                            required>
                    </div>

                    <button class="btn btn-success w-100">
                        Увійти
                    </button>

                </form>

                <hr>

                <p class="text-center">
                    Ще немає акаунта?
                    <a href="{{ url_for('auth.register') }}">
                        Зареєструватися
                    </a>
                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}
